<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">

  <h1>About Us</h1>
  <ol>
    <li>This website generates random and unique passwords depending upon the parameters user selects.</li>
    <li>This website is creates by Abhishek Tayal</li>
    <li>Still under construction :)</li>
  </ol>


  <footer><a href="{% url 'home' %}">Home</a></footer>

</div>
